body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.nav-pills{
  font-size: 1.8em;
  background-color:black;
  margin-bottom:15%;
}
h1{
font-size:5.0em;
padding:0px;
margin-top:5px;
color:white;
}
h2{
  color:white;
}
.block{
  background-color:black;
  padding-top:10px;
  opacity:.7;
  width:50%;
  margin-right:auto;
  margin-left:auto;
  border-radius:10px;
}

body{
 font-family:lobster;
 background-color: white;
 color:black;
 }
.btn-default{
 background-color:black;
 border-color:black;
 color:#337ab7;
 font-size:2.0em;
}
.pageOne{
background:url("https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=533d700028277f3d53e0e6d4ac3bcc1c");
background-size: cover;
height: 1024px;
}
.pageTwo{
 background:url("https://images.unsplash.com/photo-1436891620584-47fd0e565afb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=9580e27795d8af74b7ea143e70a71636");
 background-size:cover;
 height: 800px;
 padding-top:5%;
}
p{
  font-size:2.5em;
  color:white;
}
img{
   padding:10px;
  margin:10px;
}

.pageThree{

  background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz__xn2lnL6-6DSJ77tOhdrn30NQNNJ5_h6wyNrKjr373L68PiCg");
 background-size:cover;
 height: 800px;
}
.portfolioHeading{
  margin-top:100px;
  color:black;
}
.img-responsive{
  display:block;
   height: 200px;
   width :100%;
}

li{
 margin-bottom: 20px;
}
.pageFour{
background:url("https://images.unsplash.com/photo-1436891620584-47fd0e565afb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=9580e27795d8af74b7ea143e70a71636");
background-size:cover;
height:500px;
}
.connectWithIbra{
  margin-top:50px;
  font-size:3.0em;
}
.banner-social-buttons{
   display:block;
   margin-bottom:20px;
   padding:0px;
   margin-top: 5%;
   border: none;
 }

 footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

